@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
@import './header.scss'; //Header
@import './mainIndex.scss'; //main del index
@import './footer.scss';
@import './blog.scss';
@import './contacto.scss';

// .div-container{
//     display: flex;
//     justify-content: space-around;
//     justify-content: center;
//     gap:10rem;
// }


  
// }






    
 
/***********************************************/
//COMIENZO DEL FOOTER 








  
    /***********************************/

    //Pagina de Contacto.html
   


        //MEDIAS QUERY PARA EL INICIO-HOME

